body{
    background-color: #E6D2BC;
    font-family:Arial;
    color:black;
}

.zonaClick{
    width: 400px;
    margin-left: 100px;
    margin-top: 350px;
    cursor: pointer;
}

img{
    width: cover;
}